<!doctype html>
<html>
  <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link type="text/css" rel="stylesheet" href="css/hongry_app.css">
    <title>Hongry</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/fontrenderer.js"></script>
    <script type="text/javascript" src="js/gpx.js"></script>
    <script type="text/javascript" src="js/hongry_app_common.js"></script>
    <script type="text/javascript" src="js/hongry_app.js"></script>
  </head>
  <body style="background-color:black">
    <canvas id="mainContent" width="320" height="480"/>
  </body>
</html>
