{% extends "master.html" %}
{% block content %}


<div>
<img src="/images/banner.jpg" style="vertical-align:bottom"
/></div>

<div>
<img src="/images/shadow-bottom.png" /></div>

<p style="text-align:center;margin-left:auto;margin-right:auto;"></p>

<p style="text-align:center;margin-left:auto;margin-right:auto;"><span
style="font-size: 18pt"><span style="font-size: 18pt"><span
style="font-size: 24pt">Hongry.com's Mission Statement</span></span></span></p>

<p>Hongry.com's mission is offer outstanding mobile technology to restaurants,
cafes, and entertainment establishments; to provide this mobile technology to
help them establish a closer relationship with their clients; to provide this
mobile technology at a reasonable price; to be the vanguard of mobile
technology; and to provide a high-quality service that meets all of our
partners' demands</p>

<p></p>

<p></p>

<p style="text-align:center;margin-left:auto;margin-right:auto;"><span
style="font-size: 26pt">Staff</span></p>

<p style="text-align:center;margin-left:auto;margin-right:auto;"></p>

<div style="float: left; margin: 20px">
<p style="text-align:center;margin-left:auto;margin-right:auto;"><img
alt="jose luis" src="/images/n710695250_4934804_6251.jpg" width="200px"
/></p>

<p style="text-align:center;margin-left:auto;margin-right:auto;"><span
style="font-size: 18pt">Jose Caso</span></p>

<p style="text-align:center;margin-left:auto;margin-right:auto;"><span
style="font-size: 18pt">President</span></p>
</div>
<p style="text-align:center;margin-left:auto;margin-right:auto;"></p>

<p>The role of Hongry.com's president, Jose Caso, is to be the chief of
marketing and strategies. Jose is one of the founders of Hongry.com. After
envisioning the promising future that mobile apps would have, he dedicated
himself to recruit a capable staff of programmers and graphic designers to
create an infrastructure that would facilitate the creation of mobile apps for
cafes, restaurants, and entertainment establishments.</p>

<p></p>

<p>Jose is an attorney by profession. He specializes in the regulation of
municipal, toxic, and radioactive waste disposal, and he has experience in
immigration law. Jose has a B.A. from Rice University in Houston, Texas where
he double majored in philosophy and political science and a J.D. from the
School of Law of the University of Texas in Austin, Texas.</p>

<p></p>

<p>Jose's passion is soccer. He is a fan of European soccer, and is especially
interested in the rivalry between Barcelona FC and Real Madrid. Jose thinks
that when Lionel Messi is the best player in the world. </p>

<p></p>

<p>Jose has lived in Austin, Houston, the Rio Grande Valley, Boston, San
Francisco, Spain, and Mexico.</p>

<p></p>

<p><span style="font-size: 13pt">Get in touch with Jose Luis:</span></p>

<p style="font-size: 13pt"></p>

<p style="font-size: 13pt">E-mail: <a
href="mailto:Jose.Caso@hongry.com">Jose.Caso@Hongry.com</a></p>

<p style="font-size: 13pt"><span style="font-size: 13pt">Phone:
512-850-6950</span></p>

<p style="font-size: 13pt">Twitter: <a
href="www.twitter.com/hongrypepe">@HongryPepe</a></p>

<p></p>

<p></p>

<p></p>


<div style="float: left; margin: 20px">
<p style="text-align:center;margin-left:auto;margin-right:auto;"><img
alt="Richard" src="/images/richie.JPG" width="200px" /></p>
<p style="text-align:center;margin-left:auto;margin-right:auto;"><span
style="font-size: 18pt">Richard Anaya</span></p>

<p style="text-align:center;margin-left:auto;margin-right:auto;"><span
style="font-size: 18pt">CEO</span></p>
</div>

<p style="text-align:center;margin-left:auto;margin-right:auto;"></p>

<p>The role Hongry.com's CEO is to supervise the day to day activities of the
company. Richard created Hongry.com?s app design and structure. He is also a
founder of Hongry.com.</p>

<p></p>

<p>Richard specializes in the programming in the HTML 5 language. He has over
then years of experience in the computer-programming industry and has witnessed
the evolution of early technologies like MS Dos and HTML into what they are
today. Richard has a B.S. in computer science from Rice Univeristy.</p>

<p>Richard's dream is to create a comprehensive system that will allow
restaurant-goers to find the perfect restaurant every time.</p>

<p>Richard?s passion, besides programming, is food. Richard has a predilection
for asian food as well as for exotic food. Richard currently resides in Austin
and has lived in China and several states in the U.S.</p>

<p></p>
<br/><br/>
<p><span style="font-size: 13pt">Get in touch with Richard:</span></p>

<p style="font-size: 13pt"></p>

<p style="font-size: 13pt">E-mail: <a
href="mailto:Richard.Anaya@Hongry.com">Richard.Anaya@Hongry.com</a></p>

<p style="font-size: 13pt"><span style="font-size: 13pt"></span>Twitter: <a
href="www.twitter.com/HongryRichard">@HongryRichard</a></p>

<p><span style="font-size: 13pt">Phone: 512-850-6950</span></p>
{% endblock %}
