{% extends "master.html" %}
{% block content %}
<script id="clientTemplate" type="text/html">
    <div id="mi_${mid}" class="special_div">
	<!--ID: <input id="mi_id_${mid}" class="texbox_normal" type="text"/>-->
	<!--<div style="float:right">Category: <input id="mi_p0_${mid}" class="texbox_normal" type="text"/> Subcategory: <input id="mi_p1_${mid}" class="texbox_normal" type="text"/></div><br/>-->
    <div style="float: right;">Price: <input id="mi_price_${mid}" class="texbox_small" type="text"/></div>
	<div>Name: <input id="mi_name_${mid}" style="margin-left:48px" class="texbox_normal" type="text"/></div>
    <div style="float: right;"><input id="mi_description_${mid}" class="mi_description texbox_very_long" style="width: 390px; height: 50px" type="text"/></div>
    <div>Description:</div>
    <hr>
	<!--Votes: <input id="mi_votes_${mid}" class="texbox_small" type="text"/>-->
	Image: <input id="mi_image_${mid}" style="margin-left:46px" class="texbox_normal" type="text"/><input id="mi_image_${mid}_file" class='uploader' type="file"/>
	<a onclick="delete_menu_item('mi_${mid}');" style="float:right; font-size:10px; color: #c00; margin-top: 20px;">Remove</a>
</div>
</script>
<script>
    add_uploader = function(fileId,textboxId) {
	$(document).ready(function() {
	    $('#'+fileId).uploadify({
		//'scriptData' : { 'app_id': '{{app_id}}'},
		'uploader'  : '/js/uploadify.swf',
		'script'    : '/upload_image',
		'cancelImg' : '/img/cancel.png',
		'auto'      : true,
		'buttonText' : 'Upload',
		'folder'    : '/',
		'width':130,
		'height':30,
		'onComplete' : function( event, queueID, fileObj, response, data) {
		    $('#'+textboxId).val('http://code-sandbox.appspot.com/get_image?key='+response);
		},
		'onError' : function( event, queueID, fileObj, response, data) {
		    alert(response.toSource());
		}
	    });
	    $("<style type='text/css'> #"+fileId+"Uploader{ margin-bottom:-10px; margin-left:5px } </style>").appendTo("head");
	});
    }
</script>
<style>
    #our_story_div {
	float: right;
    }
    #restaurant_our_story {
	height: 100px;
    }

    h3 { 
	margin-bottom: 5px;
	font-size: 24px;
    }
    #general_info_div {
	height: 260px;
    }
    .special_div {
	border: solid 1px #CCC;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
    }

    .uploader {
	margin-left: 5px;
    }

    .texbox_small {
	height: 20px;
	width: 100px;
    }
    .texbox_normal {
	height: 20px;
	width: 200px;
    }
    .texbox_long {
	height: 20px;
	width: 300px;
    }
    .texbox_very_long {
	height: 20px;
	width: 500px;
    }
</style>
<div id="new_restaurant" class="hidden">
    You don't seem to have a restaurant setup for this id yet.  Would you like to create one? <a href="#" onclick="create_restaurant('{{ restaurant_id }}');">Create Restaurant App</a>
</div>
<div id="restaurant" class="hidden">
    {{ restuarant_id }}
    <h3>General Information</h3>
    <div id="general_info_div">
<div id="our_story_div">
    Our Story:<br/>
    <textarea id="restaurant_our_story"></textarea><br/>
</div>
<br/>
    Announcement #1: <input id="restaurant_announcement_0" style="margin-left: 6px" class="texbox_long" type="text"/><br/>
    Announcement #2: <input id="restaurant_announcement_1" style="margin-left: 6px" class="texbox_long" type="text"/><br/>
    Map Link: <input id="restaurant_map_link" style="margin-left: 87px" class="texbox_long" type="text"/><br/>
    Background Image: <input id="restaurant_background" class="texbox_normal" type="text"/><input id="restaurant_background_file"  type="file" />
    <script type="text/javascript">add_uploader('restaurant_background_file','restaurant_background'); </script>
    Logo Image: <input id="restaurant_logo" class="texbox_normal" style="margin-left: 62px" type="text"/><input id="restaurant_logo_file"  type="file"/>
    <script type="text/javascript">add_uploader('restaurant_logo_file','restaurant_logo'); </script>
</div>
<h3>Specials</h3><br/> 
    <div class="special_div">Header: <input id="special_header_0" class="texbox_normal" type="text"/> Text: <input id="special_text_0" class="texbox_very_long" type="text"/></div>
    <div class="special_div">Header: <input id="special_header_1" class="texbox_normal" type="text"/> Text: <input id="special_text_1" class="texbox_very_long" type="text"/></div>
    <div class="special_div">Header: <input id="special_header_2" class="texbox_normal" type="text"/> Text: <input id="special_text_2" class="texbox_very_long" type="text"/></div>
    <br/>
    <h3>Menu Item</h3><br/>
    <div>
	<div class="menu_categories_list">
	    <div class="menu_categories_list_header">
		Category
		<img id="button_remove_category" class="button_header" src="/images/add.png"></img>
		<img id="button_add_category" class="button_header" src="/images/minus.png"></img>
	    </div>
	    <div id="menu_categories">
        <div>None</div>
		<div>Hamburgers</div>
		<div>Drinks</div>
	    </div>
	    <div class="menu_subcategories_list_header">
		Subcategory
		<img id="button_remove_subcategory" class="button_header" src="/images/add.png"></img>
		<img id="button_add_subcategory" class="button_header" src="/images/minus.png"></img>
	    </div>
	    <div id="menu_subcategories">
        <div>None</div>
		<div>Alchoholic</div>
		<div>Desert</div>
	    </div>
	</div>
        <div class="menu_items_list">
                <div id="menu_items" >
                </div>
                <div class="special_div" style="text-align:center">
                <a id="add_another_item_button">Add another item</a>
                </div>
        </div>
    </div>
    <hr>
    <div id="updated_div" class="special_div" style="text-align:center; background-color: #0d0; display: none">
	Updated Succesfully
    </div>
    <div id="error_div" class="special_div" style="text-align:center; background-color: #d00; display: none">
	Oops, something went wrong.
    </div>

        <input id="restaurant_save" type="submit" value="Save">
</div>
<script>
    var current_restaurant = null;
    var highest_menu_items = 0;

    create_restaurant = function(id) {
	var data = { "restaurant":{"name": id}};
	$.ajax({
	    type: "POST",
	    contentType: 'application/json',
	    url:'/rest/restaurant',
	    data: JSON.stringify(data),
	    success: function(result) {
		current_restaurant = data;
		current_restaurant.key = result;
		$('#new_restaurant').toggleClass('hidden');
		load_restaurant(current_restaurant);
	    }
	});
    }

    load_restaurant = function() {
	 $('#restaurant_announcement_0').val(current_restaurant.announcement_0);
	 $('#restaurant_announcement_1').val(current_restaurant.announcement_1);
	 $('#restaurant_background').val(current_restaurant.image_background);
	 $('#restaurant_logo').val(current_restaurant.image_logo);
	 $('#restaurant_map_link').val(current_restaurant.map_link);
	 $('#restaurant_our_story').val(current_restaurant.our_story);
	 $('#restaurant').toggleClass('hidden');
	 var length = size(current_restaurant.specials_name.item);
	 for( var i = 0 ; i < length; i++ )
	 {
	    vs('#special_header_'+i,current_restaurant.specials_name,i);
	    vs('#special_text_'+i,current_restaurant.specials_text,i);
	 }
	
	 var length = size(current_restaurant.menuitem_id.item);
	 highest_menu_items = length;
	 for( var i = 0 ; i < length; i++ )
	 {
	     var clientData = [
		{ mid: i },
	     ];
	     $("#clientTemplate").tmpl(clientData).appendTo( "#menu_items" );
	    add_uploader('mi_image_'+i+'_file','mi_image_'+i);
	    vs('#mi_p0_'+i,current_restaurant.menuitem_parent_0,i);
	    vs('#mi_p1_'+i,current_restaurant.menuitem_parent_1,i);
	    vs('#mi_id_'+i,current_restaurant.menuitem_id,i);
	    vs('#mi_name_'+i,current_restaurant.menuitem_name,i);
	    vs('#mi_description_'+i,current_restaurant.menuitem_description,i);
	    vs('#mi_votes_'+i,current_restaurant.menuitem_votes,i);
	    vs('#mi_price_'+i,current_restaurant.menuitem_price,i);
	    vs('#mi_image_'+i,current_restaurant.menuitem_image,i);
	 }

    }

    size = function(a) {
	if (a.constructor.toString().indexOf("Array") == -1) {
	    return 1;
	}
	return a.length;
    }

    vs = function(id,vals,i) {
	if (vals.item.constructor.toString().indexOf("Array") == -1) {
	    var s = vals.item.toString();
	    if( s != "[object Object]" ) {
		$(id).val(s);
	    }
	}
	else {
	    var s = vals.item[i].toString();
	    if( s != "[object Object]" ) {
		$(id).val(s);
	    }
	}
    }

    v = function(id) {
	return $(id).val();
    }

    save_restaurant = function() {
	current_restaurant.announcement_0 = $('#restaurant_announcement_0').val();
	current_restaurant.announcement_1 = $('#restaurant_announcement_1').val();
	current_restaurant.image_background = $('#restaurant_background').val();
	current_restaurant.image_logo = $('#restaurant_logo').val();
	current_restaurant.map_link = $('#restaurant_map_link').val();
	current_restaurant.our_story = $('#restaurant_our_story').val();
	current_restaurant.specials_name = {'item':[v('#special_header_0'),v('#special_header_1'),v('#special_header_2')]};
	current_restaurant.specials_text = {'item':[v('#special_text_0'),v('#special_text_1'),v('#special_text_2')]};

	current_restaurant.menuitem_parent_0 = {'item':[]};
	current_restaurant.menuitem_parent_1 = {'item':[]};
	current_restaurant.menuitem_id = {'item':[]};
	current_restaurant.menuitem_name = {'item':[]};
	current_restaurant.menuitem_description = {'item':[]};
	current_restaurant.menuitem_votes = {'item':[]};
	current_restaurant.menuitem_price = {'item':[]};
	current_restaurant.menuitem_image = {'item':[]};
	for( var i = 0; i < highest_menu_items; i++ ) {
	    if ($('#mi_'+i).length>0) {
		current_restaurant.menuitem_parent_0.item.push(v('#mi_p0_'+i));
		current_restaurant.menuitem_parent_1.item.push(v('#mi_p1_'+i));
		current_restaurant.menuitem_id.item.push(v('#mi_id_'+i));
		current_restaurant.menuitem_name.item.push(v('#mi_name_'+i));
		current_restaurant.menuitem_description.item.push(v('#mi_description_'+i));
		current_restaurant.menuitem_votes.item.push(v('#mi_votes_'+i));
		current_restaurant.menuitem_price.item.push(v('#mi_price_'+i));
		current_restaurant.menuitem_image.item.push(v('#mi_image_'+i));
	    }
	}

	var data = {'list': { 'restaurant': current_restaurant }};
	$.ajax({
	    type: "PUT",
	    contentType: 'application/json',
	    url:'/rest/restaurant',
	    data: JSON.stringify(data),
	    success: function(result) {
		$('#updated_div').css("display","none");
		$('#error_div').css("display","none");
		$('#updated_div').fadeIn("slow");
	    },
	    error: function(result) {
		$('#updated_div').css("display","none");
		$('#error_div').css("display","none");
		$('#error_div').fadeIn("slow");
	    }
	});

    }

    start = function() {
	$('#restaurant_save').click(save_restaurant);
	$.getJSON('/rest/restaurant?feq_name={{ restaurant_id }}',
	function(data) { 
	    if( data.list.restaurant ) {
		current_restaurant = data.list.restaurant;
		load_restaurant();
	    }
	    else {
		$('#new_restaurant').toggleClass('hidden');
	    }
	}
	);
    }

    delete_menu_item = function(id) {
	$('#'+id).remove();
    }


    $('#add_another_item_button').click( function() {
	var clientData = [
	{ mid: highest_menu_items },
	];
	$("#clientTemplate").tmpl(clientData).appendTo( "#menu_items" );
	add_uploader('mi_image_'+highest_menu_items+'_file','mi_image_'+highest_menu_items);
	highest_menu_items++;
    });
    $(document).ready(start);

</script>
{% endblock %}
